{% extends 'base.html.twig' %}

{% block title %}Libros{% endblock %}

{% block body %}
    <h1>Indice de Libros</h1>

    <table class="table">
        <thead>
            <tr>
                <th>ISBN</th>
                <th>Titulo</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for libro in libros %}
            <tr>
                <td>{{ libro.id }}</td>
                <td>{{ libro.titulo }}</td>
                <td>
                    <a href="{{ path('libro_show', {'id': libro.id}) }}">Mostrar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No hay registros de libros</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
        <button type="button" class="btn btn-outline-success" ><a class="nav-link" href="{{ path('libro_new') }}">Nuevo libro <span class="sr-only">(current)</span></a></button>
    <br>
{% endblock %}