{% extends 'base.html.twig' %}

{% block title %}Nuevo libro{% endblock %}

{% block body %}
    <h1>Crear libro</h1>

    {{ include('libro/_form.html.twig') }}

    <a href="{{ path('libros') }}">Regresar</a>
{% endblock %}