{% extends 'base.html.twig' %}
{% block title %}Nueva editorial{% endblock %}

{% block body %}
    <h1 align="center">Crear una nueva editorial</h1>

    {{ include('editorial/_form.html.twig') }}

{% endblock %}
